@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Maitree:wght@200;300;400;500;600;700&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Maitree", serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 90%;
}

h1, h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
  margin-top: 20px;
}

p {
  font-size: 15px;
}

.tags {
  border: #000 solid thin;
  padding: 3px 13px;
  border-radius: 30px;
}

.g-tags {
  margin: 8px 0;
  font-weight: 500;
  font-size: 20px;
}

section {
  padding: 60px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

img {
  width: 100%;
  display: block;
}

hr {
  width: 100%;
  background-color: lightgrey;
  height: 1px;
  border: none;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 10px 17px;
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

.header {
  z-index: 100;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  font-weight: 600;
  font-size: 20px;
}
.header .logo a {
  text-decoration: none;
  color: #000;
}
.header .menu-icon {
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.header #menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 35px;
}
.header #menuList a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header #menuList a:hover {
  color: #000;
}

.cta .flex {
  gap: 40px;
}
.cta .title {
  width: 60%;
}
.cta .description {
  width: 40%;
}
.cta .description .btn {
  margin-top: 40px;
}
.cta .description .btn i {
  margin-left: 8px;
}
.cta .img-container {
  position: relative;
  height: 500px;
  margin-top: 30px;
}
.cta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cta hr {
  margin-top: 50px;
}

.about .flex {
  gap: 40px;
}
.about .title {
  width: 50%;
}
.about .description {
  width: 50%;
}
.about .description p {
  margin-bottom: 50px;
}
.about .grid {
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.about .grid span {
  color: gray;
  font-weight: 500;
}

.gallery {
  padding-top: 100px;
}
.gallery .grid {
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.gallery .card:nth-of-type(1) img {
  height: 260px;
  width: 400px;
}
.gallery .card:nth-of-type(1) p:nth-of-type(2) {
  max-width: 400px;
}
.gallery .card:nth-of-type(2) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.gallery .card:nth-of-type(2) p:nth-of-type(2) {
  margin-bottom: 15px;
}
.gallery .card:nth-of-type(3) {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}
.gallery .card:nth-of-type(3) img {
  height: 375px;
  width: 300px;
}
.gallery .card:nth-of-type(3) p {
  max-width: 300px;
}
.gallery .card:nth-of-type(4) {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}
.gallery .card:nth-of-type(4) h2 {
  font-size: 40px;
  max-width: 270px;
  line-height: 1.4;
}
.gallery .card:nth-of-type(6) {
  -webkit-transform: translateX(-80px) translateY(-100px);
          transform: translateX(-80px) translateY(-100px);
}
.gallery .card:nth-of-type(6) img {
  height: 300px;
}

.services .flex {
  gap: 30px;
}
.services .title {
  width: 45%;
}
.services .services-menu {
  width: 55%;
}
.services .services-menu p {
  margin-bottom: 50px;
}
.services .services-menu .closed {
  background-image: url("./imgs/plus.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  height: 13px;
  width: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.services .services-menu .open {
  background-image: url("./imgs/minus-sign.png");
}
.services .services-menu .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
}
.services .services-menu .serve {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.services .services-menu .open {
  font-size: 21px;
}
.services .services-menu .service-description {
  padding: 0 5px;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.services .services-menu .open {
  max-height: 150px;
}

.projects .title h2 {
  max-width: 500px;
}
.projects .slider .slide {
  color: #000;
}
.projects .slider .slide .caption {
  display: none;
}
.projects .slider .slick-arrow {
  background-image: url(./imgs/icons8-right-arrow-50.png);
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 50px;
  z-index: 10;
  top: -50px;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.projects .slider .slick-arrow:hover {
  scale: 1.1;
}
.projects .slider .slick-prev {
  right: 90px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.projects .slider .slick-next {
  right: 0;
}
.projects .slider .slick-slide img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  max-width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 250px;
  width: 400px;
}
.projects .slider .slick-center img {
  margin-top: 37px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects .slider .slick-center .caption {
  display: block;
  margin-top: 20px;
}

.footer {
  padding-bottom: 0;
}
.footer .title {
  width: 50%;
}
.footer .contact-info {
  width: 50%;
}
.footer .wrapper {
  padding-bottom: 10px;
}
.footer span {
  color: gray;
}
.footer p {
  font-weight: 600;
}
.footer .wrapper:nth-of-type(2) p {
  max-width: 170px;
}
.footer .img {
  background-image: url(https://images.unsplash.com/photo-1625908919508-ad7dd4f4b294?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  height: 270px;
  margin-top: 60px;
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 45px;
    max-width: 500px;
  }
  .cta .description .btn {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .cta .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta .title {
    width: 100%;
  }
  .cta .description {
    width: 100%;
  }
  .cta .img-container {
    height: 350px;
  }
  .about .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .title {
    width: 100%;
  }
  .about .description {
    width: 100%;
  }
  .about .description p {
    margin-bottom: 25px;
  }
  .gallery {
    padding-top: 10px;
  }
  .gallery .grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery .card:nth-of-type(1) img {
    height: none;
    width: 100%;
  }
  .gallery .card:nth-of-type(1) p:nth-of-type(2) {
    max-width: none;
  }
  .gallery .card:nth-of-type(2) {
    -webkit-transform: none;
            transform: none;
  }
  .gallery .card:nth-of-type(2) .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .gallery .card:nth-of-type(2) p:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .gallery .card:nth-of-type(3) {
    -webkit-transform: none;
            transform: none;
  }
  .gallery .card:nth-of-type(3) img {
    height: none;
    width: 100%;
  }
  .gallery .card:nth-of-type(3) p {
    max-width: none;
  }
  .gallery .card:nth-of-type(4) {
    -webkit-transform: none;
            transform: none;
  }
  .gallery .card:nth-of-type(4) h2 {
    font-size: 30px;
    max-width: none;
  }
  .gallery .card:nth-of-type(6) {
    -webkit-transform: none;
            transform: none;
  }
  .gallery .card:nth-of-type(6) img {
    height: none;
    width: 100%;
  }
  .services .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .services .title {
    width: 100%;
  }
  .services .services-menu {
    width: 100%;
  }
  .services .services-menu p {
    margin-bottom: 30px;
  }
  .services .services-menu .open {
    max-height: 200px;
  }
  .projects .slider {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  section {
    padding: 30px 0;
  }
  .header .navList ul {
    z-index: 100;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: #fff;
    gap: 40px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header .navList ul li {
    padding: 20px;
    padding-top: 0;
    border-bottom: 1px solid #ccc;
  }
  .header .menu-icon {
    display: block;
  }
  .header #menuList {
    -webkit-transition: height 0.7s ease;
    transition: height 0.7s ease;
  }
}
@media only screen and (max-width: 650px) {
  p {
    font-size: 14px;
  }
  .projects .slider {
    margin-left: 0;
  }
  .projects .slider .slick-slide img {
    height: 250px;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  .footer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .footer .title {
    width: 100%;
  }
  .footer .contact-info {
    width: 100%;
  }
  .footer .wrapper:nth-of-type(2) p {
    max-width: 250px;
  }
  .footer .img {
    height: 200px;
    margin-top: 30px;
  }
}