@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Maitree:wght@200;300;400;500;600;700&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Maitree", serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 90%;
}

h1, h2{
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 35px;
    margin-top: 20px;
}

p{
    font-size: 15px;
}

.tags{
    border: #000 solid thin;
    padding: 3px 13px;
    border-radius: 30px;
}

.g-tags{
    margin: 8px 0;
    font-weight: 500;
    font-size: 20px;
}

section{
    padding: 60px 0;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

img{
    width: 100%;
    display: block;
}

hr{
    width: 100%;
    background-color:lightgrey;
    height: 1px;
    border: none;

}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 17px;
    border-radius: 30px;
    display: inline-block;
    transition: 0.4s;

    &:hover{
        background-color: #fff;
        color: #000;
    }
}

// header
.header{
    z-index: 100;
    transition: 0.7s;

    .flex{
        justify-content: space-between;
        height: 90px;
        align-items: center;
    }

    .wrapper{
        display: flex;
        gap: 45px;
        align-items: center;
    }

    .logo{
        font-weight: 600;
        font-size: 20px;
        
        a{
            text-decoration: none;
            color: #000;
        }
    }

    .menu-icon{
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    #menuList{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 35px;

        a{
            text-decoration: none;
            color: #000;
            transition: 0.4s;
       
            &:hover{
                color: #000;
            }
        }
    }
}

// cta
.cta{
    .flex{
        gap: 40px;
    }
    
    .title{
        width: 60%;
    }

    .description{
        width: 40%;

        .btn{

            margin-top: 40px;

            i{
                margin-left: 8px;
            }
        }
    }

    .img-container{
        position: relative;
        height: 500px;
        margin-top: 30px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    hr{
        margin-top: 50px;
    }
}

// about
.about{
    .flex{
        gap: 40px;
    }
    
    .title{
        width: 50%;
    }

    .description{
        width: 50%;

        p{
            margin-bottom: 50px;
        }
    }

    .grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        span{
            color: gray;
            font-weight: 500;
        }
    }    
}

// gallery
.gallery{
    padding-top: 100px;

    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card:nth-of-type(1){
       img{
            height: 260px;
            width: 400px;
        } 

        p:nth-of-type(2){
            max-width: 400px;
        }
    }

    .card:nth-of-type(2){
        transform: translateY(100px);
         
        p:nth-of-type(2){
            margin-bottom: 15px;
        }
    }

    .card:nth-of-type(3){
        transform: translateY(120px);
        
        img{
            height: 375px;
            width: 300px;
        }

        p{
            max-width: 300px;
        }
    }

    .card:nth-of-type(4){
        transform: translateY(120px);
        
        h2{
            font-size: 40px;
            max-width: 270px;
            line-height: 1.4;
        }
    }

    .card:nth-of-type(6){
        transform: translateX(-80px) translateY(-100px);

        img{
            height: 300px;
        }
    }
}

// srvices
.services{
    .flex{
        gap: 30px;
    }

    .title{
        width: 45%;
    }

    .services-menu{
        width: 55%;

        p{
            margin-bottom: 50px;
        }

        .closed{
            background-image: url("./imgs/plus.png");
            background-position: center;
            background-size: cover;
            background-color: transparent;
            height: 13px;
            width: 13px;
            transition: 0.4s;
        }

        .open{
            background-image: url("./imgs/minus-sign.png");
        }

        .wrapper{
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            cursor: pointer;
        }

        .serve{
            transition: 0.6s;
        }

        .open{
            font-size: 21px;
        }

        .service-description{
            padding: 0 5px;
            max-height: 0;
            overflow-y: hidden;
            transition: 0.6s ease-out;
        }

        .open{
            max-height: 150px;
        }
    }
}

// project
.projects{
    .title{
        h2{
            max-width: 500px;
        }
    }

    .slider{
        .slide{
            color: #000;

            .caption{
                display: none;
            }
        }

        .slick-arrow {
            background-image: url(./imgs/icons8-right-arrow-50.png);
            background-position: center;
            background-size: cover;
            height: 50px;
            width: 50px;
            z-index: 10;
            top: -50px;
            position: absolute;
            background-color: transparent;
            border: none;
            font-size: 0;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                scale: 1.1;
            }
        }

        .slick-prev {
            right: 90px;
            transform: rotateY(-180deg);
        }

        .slick-next {
            right: 0;
        }

        .slick-slide img{
            transform: scale(0.8);
            max-width: 100%;
            transition: all 0.4s ease-in-out;
            height: 250px;
            width: 400px;
        }
        
        .slick-center img{
            margin-top: 37px;
            transform: scale(1.1);  
        } 

        .slick-center .caption{
            display: block;
            margin-top: 20px;
        }
    }
}

// footer
.footer{
    padding-bottom: 0;

    .title{
        width: 50%;
    }

    .contact-info{
        width: 50%;
    }

    .wrapper{
        padding-bottom: 10px;
    }

    span{
        color: gray;
    }

    p{
        font-weight: 600;
    }

    .wrapper:nth-of-type(2){

        p{
            max-width: 170px; 
        }
    }

    .img{
        background-image: url(https://images.unsplash.com/photo-1625908919508-ad7dd4f4b294?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        height: 270px;
        margin-top: 60px;
    }
}

// responsive
@media only screen and (max-width: 1100px) {
    h1{
        font-size: 45px;
        max-width: 500px;
    }

    // cta
    .cta{
        .description{
            .btn{
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 900px) {
    // cta
    .cta{
        .flex{
            flex-direction: column;
        }

        .title{
            width: 100%;
        }
    
        .description{
            width: 100%;
        }

        .img-container{
            height: 350px;
        }
    }

    // about
    .about{
        .flex{
            flex-direction: column;
        }
        
        .title{
            width: 100%;
        }

        .description{
            width: 100%;

            p{
                margin-bottom: 25px;
            }
        }  
    }

    // gallery
    .gallery{
        padding-top: 10px;

        .grid{
            grid-template-columns: repeat(1, 1fr);
        }

        .card:nth-of-type(1){
            img{
                height: none;
                width: 100%;
            }

            p:nth-of-type(2){
                max-width: none;
            }
        }

        .card:nth-of-type(2){
            transform: none;

            .wrap{
                display: flex;
                flex-direction: column-reverse;
            }

            p:nth-of-type(2){
                margin-bottom: 15px;
            }
        }

        .card:nth-of-type(3){
            transform: none;
            
            img{
                height: none;
                width: 100%;
            }

            p{
                max-width: none;
            }
        }

        .card:nth-of-type(4){
            transform: none;
            
            h2{
                font-size: 30px;
                max-width: none;
            }
        }

        .card:nth-of-type(6){
            transform: none;

            img{
                height: none;
                width: 100%;
            }
        }
    }

    // srvices
    .services{
        .flex{
            flex-direction: column;
            gap: 15px;
        }

        .title{
            width: 100%;
        }

        .services-menu{
            width: 100%;

            p{
                margin-bottom: 30px;
            }

            .open{
                max-height: 200px;
            }
        }
    }

    // project
    .projects{
        .slider{
            margin-left: -35px;
        }
    }
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 30px;
    }

    section{
        padding: 30px 0;
    }

    // header
    .header{
        .navList ul{
            z-index: 100;
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            flex-direction: column;
            text-align: center;
            background: #fff;
            gap: 40px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            li{
                padding: 20px;
                padding-top: 0;
                border-bottom: 1px solid #ccc;
            }
        }
    
        .menu-icon{
            display: block;
        }

        #menuList{
            transition: height 0.7s ease;
        }
    }
}

@media only screen and (max-width: 650px) {
    p{
        font-size: 14px;
    }

    // project
    .projects{
        .slider{
            margin-left: 0;
 
            .slick-slide img{
                height: 250px;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 35px;
    }
    
    h2{
        font-size: 25px;
    }
    // footer
    .footer{
        .flex{
            flex-direction: column;
            gap: 25px;
        }

        .title{
            width: 100%;
        }

        .contact-info{
            width: 100%;
        }

        .wrapper:nth-of-type(2){
            p{
                max-width: 250px; 
            }
        }

        .img{
            height: 200px;
            margin-top: 30px;
        }
    }
}